<h1>Recipes</h1>
<p>Controller instance variable available here: <%= @yesterday_time %></p>
<p>Current Time = <%= Time.now %> created in View</p>
<p>This time Yesterday = <%= @yesterday_time %> created in Controller</p>
<p>This time Yesterday = <%= @key_val %> created in Controller</p>
<table>
	<tr>
		<th>Image</th>
		<th>Recipe Title</th>
		<th>Social Rank</th>
	</tr>
	<% @recipes.each do |recipe| %>
		<tr>
 			<td></td>
 			<td><%= image_tag(recipe["image_url"], size: "100x100") %></td>
 			<td><%= recipe["f2f_url"] %></td>
			<td><%= recipe["title"] %></td>
			<td><%= recipe["social_rank"] %></td>
		</tr>
	<% end %>
</table>